.league-card{
    display: flex;
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.league-card-inner{
    text-align: center;
    padding-top: 1.25rem;
    width: 100%;
    transition: 0.3S;
}
.league-card-inner:hover{
    box-shadow: 0 0 25px rgba(22, 21, 32, 0.2);
}
.league-logo{
    width: 100px;
    margin: auto;
}
.card-title {
    transition: 0.3s;
}
.league-card-inner:hover .card-title{
    color: #0707f7;
}

@media (max-width: 575px){
    .league-card{
        max-width: 100%;
        flex: 0 0 100%;
    }
}